html {
  font-family: 'Prompt', sans-serif;
}

body {
  background-color: #f0eef1;;
}

.book-info {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.active {
  transform: translate(-50%, -50%) scale(1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  align-items: center;
  background-color: white;
  font-size: 30px;
  margin: 0;
}

body {
  margin: 0;
}

.add {
  display: flex;
  justify-content: center;
  padding: 15px
}


form > div {
  width: 150px;
  margin-bottom: 10px;
}

#addBookForm {
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  text-align: center;
  gap: 15px;
  padding: 15px;
}

.book-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 15px;
}

#title-exit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exit {
  padding: 0 5px 0 5px;
}

#title-exit, label {
  margin-bottom: 5px;
}

.btn-green {
  background-color: rgb(27, 197, 27);
}

.btn-red {
  background-color: red;
}

button {
  padding: 8px;
  border-radius: 12px;
  font-size: 15px;
  font-family: 'Prompt', sans-serif;
}

label + input {
  margin-top: 6px;
}

.btn-add {
  border: none;
}

.btn-add:hover {
  background-color: darkgray;
}

.readBtn, .remove {
  width: 100px;
}